<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="2">
  <listeners>
    <listener class-name="app.hackathon.test.listeners.Listener"/>
    <listener class-name="app.hackathon.test.listeners.TestListener"/>
  </listeners>
  <test name="Traditional tests">
    <classes>
      <class name="app.hackathon.test.traditional.tests.TraditionalTests" />
    </classes>
  </test>
</suite>